@using EquipmentManagement.Web.Configurations
@using EquipmentManagement.Security

@inject IUserContext UserContext

<div class="kt-header__topbar-item kt-header__topbar-item--user">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown">
        <div class="kt-header__topbar-user">
            <img alt="Pic" class="kt-radius-100" src="@(String.IsNullOrEmpty(UserContext.AvatarUrl) ? PlatformConfiguration.DefaultAvatarUrl : UserContext.AvatarUrl)" />
        </div>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
        <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
            <div class="kt-user-card__avatar">
                <img src="~/assets/media/users/default.jpg" />
            </div>
            <div class="kt-user-card__name">@UserContext.FirstName @UserContext.LastName</div>
        </div>
        <div class="kt-notification">
            <a asp-controller="Profile" asp-action="Index" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">My Profile</div>
                    <div class="kt-notification__item-time">Account settings and more</div>
                </div>
            </a>
            <a asp-controller="Equipment" asp-action="MyEquipments" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-cube kt-font-brand"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">My equipments</div>
                    <div class="kt-notification__item-time">My having equipments</div>
                </div>
            </a>
            <a asp-controller="Request" asp-action="My" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-rocket-1 kt-font-danger"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">My Requests</div>
                    <div class="kt-notification__item-time">My active and completed requests</div>
                </div>
            </a>
            @if (UserContext.IsAdmin)
            {
                <a asp-controller="Request" asp-action="Assigned" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon2-cardiogram kt-font-warning"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">Assigned requests</div>
                        <div class="kt-notification__item-time">Requests assigned to me</div>
                    </div>
                </a>
            }
            <div class="kt-notification__custom kt-space-between">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
